* {
    padding: 0px;
    margin: 0px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

/* nav bar styling */

.myName {
    font-size: 25px;
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;  
    color: white;  
}
/* 
.navbar-dark li a {
    color: gray;
} */


/* Styling of body */

body {
    background-image: url(../images/symphony.png);
    color: #777777;
}

.container {
    background: white;
    margin-top: 20px;

}

.footer-block {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    text-align: center;
    padding-top: 20px;
    border-top: 4px solid #4aaaa5;
}

/* About Me row styling */
h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    border-bottom: 2px solid lightgray;
    padding: 20px 0px;
    margin-bottom: 20px;
}


/* image styling */

.float-left {
    margin: 0px 10px 10px 0px;
}

